
.about{
   display: grid;
   position: relative;
   grid-template-columns: 1fr;
   grid-template-rows: auto;

}


.img-about{
height: 300px;
display: flex;
justify-content: center;
align-items: center;
position: relative;
}

.img-about img{
    width: 100%;
    object-fit: cover;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.texto-about{
    background-color: rgb(220, 215, 209);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;    
}

.img-about h2{
    font-family:Lobster, sans-serif ;
    color: #583a35;
    font-weight: 600;
    font-size: 30px;
    z-index: 1;
    margin-bottom: 10px;
    margin-left: 130px;


}
.texto-about h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 0 40px;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.whatsapp-button {

  bottom: 10px;
  right: 10px;
  background-color: #25d366;
  color: #fff;
  font-size: 30px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 10px;
  text-align: center;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  transition: background-color 0.3s ease;
}
.custom-shape-divider-top-1684840688 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}


@media (min-width: 768px) {
    .about {
     grid-template-columns: 1fr 1fr;
    } 
 
    .img-about{
     height: auto;
    }


 }

